.body {
    height: 100vh;
    background-image: url(../images/pinkandblue.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    border-top: 1px solid black;
    padding-left: 60px;
    padding-right: 60px;
}

#modal {
    z-index: 1000;
    position: absolute;
    top: 50%;
    min-width: 50%;
    max-width: 90%;
    margin: auto;
    
}



