.body {
    text-align: center;
    border-top: 1px solid black;
    padding-left: 60px;
    padding-right: 60px;
}

#modal {
    z-index: 1000;
    position: absolute;
    top: 50%;
    min-width: 50%;
    max-width: 90%;
    margin: auto;
    
}

.user-card {
    width: 100%;
    cursor: pointer;
    margin: 0 auto;
}

#user-container {
    overflow: scroll;
    max-height: 500px;
    width: 100%;
}



