@media all and (max-width: 500px) {
    #favorites-modal {
        width: 90%;
        margin: auto;
    }
}

@media all and (max-width: 900px) {
    #favorites-modal {
        width: 60%;
        margin: auto;
    }
}

@media all and (min-width: 901px) {
    #favorites-modal {
        width: 50%;
        margin: auto;
    }
}

#favorites-modal {
    background-color: white; 
    padding: 20px;
}

#username {
    color: gray;
}

#date {
    font-size: .6em;
}

#name {
    font-size: .7em;
}


#username {
    font-size: .7em;
}

#tweet-text {
    font-size: .8em;
    font-family: "Ubuntu";
}

#close-btn {
    background-color: #FFC885;
}

#video-preview-img {
    max-width: 300px;
}

#photo-preview {
    max-width: 300px;
}