#favorites-modal {
    background-color: white;
    max-width: 50%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

#username {
    color: gray;
}

#date {
    font-size: .6em;
}

#name {
    font-size: .85em;
}

#username {
    font-size: .8em;
}

#close-btn {
    background-color: #FFC885;
}

#video-preview-img {
    max-width: 100%;
}

#photo-preview {
    max-width: 100%;
}