.body {
    text-align: center;
    border-top: 1px solid black;
    padding-left: 0;
    padding-right: 0;
    
}

#subtitle {
    font-size: .8em;
}

#banner {
    background-color: #82D5FF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0;
    margin: 0;
    height: 80px;
    width: 100%;
    font-family: "Ubuntu";
    text-align: center;
}

#user-search-cards {
    max-height: 400px;
    position: absolute;
    overflow: scroll;
    margin-left: auto;
    margin-right: auto;
    
}

#topic-search-cards {
    max-height: 400px;
    position: absolute;
    overflow: scroll;
    margin-left: auto;
    margin-right: auto;
}

#user-btn {
    background-color: #82D5FF;
}

#topic-btn {
    background-color: #82D5FF;
}

#topic-modal {
    margin-left: auto;
    margin-right: auto;
    top: 35%
}

#user-modal {
    margin-left: auto;
    margin-right: auto;
    top: 35%
}