#user-card {
    min-width: 300px;
    max-width: 350px;
    cursor: pointer;
}

#name {
    font-size: .3em;
}

#username {
    font-size: .3em;
}

#join {
    font-size: .6em;
}

#location {
    font-size: .6em;
}

#following {
    font-size: .5em;
}

#followers {
    font-size: .5em;
}

#description {
    height: 60px;
}

