
#user-card {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
}

#name {
    font-size: .3em;
}

#username {
    font-size: .3em;
}

#join {
    font-size: .6em;
}

#location {
    font-size: .6em;
}

#following {
    font-size: .5em;
}

#followers {
    font-size: .5em;
}

#profile-pic {
    min-height: 10px;
    max-height: 10px;
    max-height: 50px;
    max-width: 50px;
}

@media screen and (max-width: 500px) {
    #check {
        height: 12px;
        width: 12px;
    }

    #pin {
        height: 12px;
        width: 12px;
    }

    #calendar {
        height: 12px;
        width: 12px;
    }
    
}

@media screen and (min-width: 501px) {
    #check {
        width: 16px;
        height: 16px;
    }

    #pin {
        width: 16px;
        height: 16px;
    }

    #calendar {
        width: 16px;
        height: 16px;
    }
}

#pin {
    min-height: 10px;
    max-height: 10px;
    max-width: 20px;
    max-height: 20px;
}

#calendar {
    min-height: 10px;
    max-height: 10px;
    max-width: 20px;
    max-height: 20px;
}



