@media all and (max-width: 500px) {
    #user-card {
        width: 90%;
    }
}

@media all and (max-width: 7500px) {
    #user-card {
        width: 50%;
    }
}



#user-card {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
}

#name {
    font-size: .3em;
}

#username {
    font-size: .3em;
}

#join {
    font-size: .6em;
}

#location {
    font-size: .6em;
}

#following {
    font-size: .5em;
}

#followers {
    font-size: .5em;
}

#description {
    height: 60px;
}

